/node_modules
/oh_modules
/local.properties
/.idea
/.hvigor
/build
**/build
**/.test
/.appanalyzer
/.ace-tool/
/.claude/
/.codebuddy/
/.mcp/
/.vscode/
*.md
!README.md
.cxx
/.clangd
/.clang-format
/.clang-tidy
jscrash-*.txt
/_git_backups/
/_gitee_sanitize_tmp/
/$null
.serena/
temp/